.lvTabsOne{
  background-color: #fff;
  // margin: 38px 16px 10px;
  // padding: 35px 16px 16px;
  margin: 16px;
  border-radius: 8px;
  position: relative;
  .tabTitle{
    // width: 92%;
    padding: 12px;
    margin:  0 auto 16px;
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px #ccc, 0 0 1px #ccc, 1px 0 1px #ccc,1px 0 1px #ccc;
    box-sizing: border-box;
    .arrow{
      height: 12px;
    }
    // position: absolute;
    // top: -20px;
    // left:50%;
    // transform: translateX(-50%);
    .title{
      font-size: 14px;
      color: #333;
    }
    .active{
      font-size: 16px;
      color: #70A5E5;
    }
    .active.tabBorder{
      display: flex;
      flex-direction: column;
      position: relative;
      &::after{
        content: "";
        width: 30px;
        height: 2.5px;
        background-color: #1D70E2;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        transition: all  5s ease ;
      }
    }
  }
}