.lv_listItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  margin: 12px 0;
  position: relative;
  .labelTxt{
    color: #999;
    font-size: 13px;
  }
  .left{
    .title{
      color: #333;
      font-size: 15px;
      max-width: 250px;
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .marginR10{
      margin-right: 20px;
      display: inline-block;
    }
  }
  .right{
    display: flex;
    align-items: center;
    .arrowR{
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}