.lvSlider{
  // width: 100%;
  margin: 16px;
  box-sizing: border-box;
  overflow: scroll;
  display: flex;
  flex: 1;
  .sliderItem{
    margin-right: 12px;
    &:last-child{
      margin-right: 0;
    }
    .slide{
      position: relative;
      height: 100%;
      img{
        height: 100%;
      }
    }
  }
}