.lineItem{
  display: flex;
  justify-content: space-between;
  margin: 0 16px ;
  padding: 16px 0;
  .left{
    font-size: 16px;
    color: #333;
  }
  .right{
    img{
      width: 16px;
    }
  }
}